a
   text-decoration: none
   color: black
   
.card
   width: 350px
   height: 460px
   padding: 20px
   border-radius: 20px
   border-radius: 50px
   background: #e9e9e9
   box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff

   &:hover
      -webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both
      animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both

.img_block
   display: flex
   justify-content: center

   img
      width: 310px
      height: 200px
      object-fit: cover
      border-radius: 20px

.title
   margin-top: 15px

.shipping
   margin-top: 15px
   font-size: 15px

.rating_box
   display: flex
   justify-content: start
   align-items: center
   gap: 10px

   .rate_icon
      display: flex
      align-items: center
      gap: 10px

.info_block
   margin-top: 7px
   display: flex
   justify-content: space-between
   align-items: center

   .cart
      display: flex
      align-items: center
      justify-content: center
      width: 35px
      height: 35px
      background-color: #84757c
      border-radius: 50%
      border-style: none

      svg
      font-size: 20px
      color: #d9e4ec
      font-weight: bold

