$base-color: #339933

.navbar
    height: 100px
    display: flex
    align-items: center
    justify-content: space-between
.logo
    display: flex
    gap: 59px
    align-items: center

.catalog
    display: flex
    align-items: center
    justify-content: center
    color: white
    text-decoration: none
    width: 129px
    height: 49px
    background-color: $base-color
    border: 2px solid $base-color
    border-radius: 5px

nav
    ul
        display: flex
        gap: 57px

    a
        text-decoration: none
        display: flex
        align-items: center
        font-weight: 500
        font-size: 16px
        line-height: 130%
        color: #000000

        &:hover
            color: $base-color

        i
            font-size: 30px
            color: $base-color
